/*footer 고정*/
* { 
	font-family: 'Noto Sans KR', sans-serif;
}

html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.contents-wrap {
	min-height:100%;
    float : none;
    margin-bottom: 200px;
}
.contents-wrap1 {
	min-height:100%;
    float : none;
    margin-bottom: 1000px;
}
.contents-wrap2 {
	min-height:100%;
    float : none;
    margin-bottom: 4000px;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 400px;
}


/* manage/goods */
.button-margin {
	margin-top: 100px;
}

/* manage/goodsRegister */

.artworkRegister_container {
	margin-top: 100px;
	position:relative;
	min-height:100%;
	margin-bottom: 500px;
}
.artworkRegister_container .main_title {
	text-align: center;
	margin-bottom: 100px;
}
.artworkRegister_container .main_title p {
	font-size: 30px;
	font-weight: bold;
}
.artworkRegister_container table {
	margin-left : auto;
	margin-right : auto;
	margin-bottom: 50px;
	border-collapse: separate;
 	border-spacing: 0 15px;
}

.artworkRegister_container table th {
	width: 300px;
	font-size: 20px;
}

#recruitEndDate, #recruitStartDate,
#recruitEndTime, #recruitStartTime {
	width: 180px;
}

.div_center {
	text-align: center;
}
.artworkRegister_container .register-div {
	margin-top: 30px;	
}
.artworkRegister_container .div_center input {
	margin-top : 60px;
	width: 200px;
	height: 60px;
	font-size: 20px;
	color : white;
	background-color : #008485;
	border-radius: 10px 10px;
}
.goodsRegisterImg {
	width: 400px;
}

#goodsName, #material{
	width: 800px;
	height: 35px;
	border: 1px solid #D3D3D3;
}
.artworkRegister_container #sizeWidth, #sizeHeight, #productionYear,
#targetPiece, #estimatedPriceMin,  #estimatedPriceMax{
	width: 120px;
	height: 35px;
	border: 1px solid #D3D3D3;
}
/* manage/writerList */
.writerList-registerbtn-div button {
	margin-top : 50px;
	width: 100px;
	height: 40px;
	font-size: 20px;
	color : white;
	background-color : #008485;
	border-radius: 10px 10px;
}
.writerList_container {
	margin-top: 70px;
}
.writerList_container .main_title p {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 50px;
}

/* manage/writerRegister */

.writerRegister_container .main_title {
	text-align: center;
	margin-bottom: 100px;
}
.writerRegister_container .main_title p {
	font-size: 30px;
	font-weight: bold;
}
.writerRegister_container table {
	border-collapse: separate;
	border-spacing: 0 20px;
	margin-bottom: 50px;
}
.writerRegister_container table th {
	width: 300px;
}
.writerRegister_container table input[type=text] {
	width: 300px;
}


/* manage/writerDetail */

.writer_img_td {
	width: 400px;
	height: 500px;
}
#writerDetailTable {
	margin-left : auto;
	margin-right : auto;
	width: 1000px;
	border-top: 1px solid #bcbcbc; 
	border-bottom: 1px solid #bcbcbc;
	border-collapse: collapse;
	border-spacing: 0 15px;
	table-layout: fixed
}
#writerDetailTable tr{
	border-bottom: 1px solid #F5F5F5;
	height: 30px;
}
#writerDetailTable th {
	width: 100px;
}
#writerDetailTable td {
	width: 300px;
}

.goodsImg {
	height: 210px;
}

.notice-title-input {
	width: 100%;
}

/* manage/goodsDetail */
.goodsDetail-inputbtn-div {
	margin-top: 100px;
}
.goodsDetail-inputbtn-div button {
	width: 150px;
	height: 45px;
	font-size: 20px;
	color : white;
	background-color : #008485;
	border-radius: 10px 10px;
}
.writerDetailTable tr, th, td {
	font-size: 20px;
}


/*log 분석 그래프 manage/statistics*/
.statistics-container {
	padding-top : 30px;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	margin-top: 50px;
}
.statistics-container .main_title p {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 90px;
}
.statistics-container .left p, .statistics-container .right p {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.statistics-container .left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.statistics-container .right {
	width: 50%;
    float: right;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.statistics-container canvas {
	width : 500px;
	height: 800px;
}

/*로그인 많이 한 회원*/
.loginTopTable {
	margin-left : 0;
	margin-right : auto;
	border-collapse: collapse;
	border-spacing: 0 35px;
	width : 300px;
	table-layout: fixed
}
.loginTopTable .loginTopmemberIdTitle th,
.loginTopTable .loginTopmemberId td {
	width: 100px;
}
.loginTopTable .loginTopmemberNameTitle th,
.loginTopTable .loginTopmemberName td {
	width: 80px;
}
.loginTopTable th {
	font-size: 15px;
}
.loginTopTable td {
	font-size: 13px;
}

/*
.col-md-12 .loginTopmemberIdTitle {
	font-weight: bold;
	font-size: 15px;
	padding-left: 10px;
}
.col-md-12 .loginTopmemberNameTitle {
	font-weight: bold;
	font-size: 15px;
	padding-left: 30px;
}
.col-md-12 .loginTopmemberFreTitle {
	font-weight: bold;
	font-size: 15px;
	padding-left: 30px;
}

.col-md-12 .loginTopmemberId {
	font-size: 13px;
	padding-left: 20px;
}
.col-md-12 .loginTopmemberName {
	font-size: 13px;
	padding-left: 50px;
}
.col-md-12 .loginTopmemberFre {
	font-size: 13px;
	padding-left: 30px;
}

.loginTopmemberId-div {
	padding-top : 5px;
	padding-bottom: 5px;
}
*/
/*성비*/


#genderDoughnut {
	padding-left: 25px;
}
.x_content .legend-div {
    position: absolute;
    top: 62px;
    left: 250px;
}

.x_content .legend-div ul li {
    margin: 10px 0;
    color: #666;
}

.x_content .legend-div ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}