<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
	<typeAliases>
		<typeAlias type="kr.ac.artTechManager.vo.WriterInfoVO" alias="writerInfo"/>
		<typeAlias type="kr.ac.artTechManager.vo.ArtworkInfoVO" alias="artworkInfo"/>
		<typeAlias type="kr.ac.artTechManager.vo.ArtworkInfoImg" alias="artworkInfoImg"/>
		<typeAlias type="kr.ac.artTechManager.vo.MemberVO" alias="member"/>
		<typeAlias type="kr.ac.artTechManager.vo.VoteVO" alias="vote"/>
		<typeAlias type="kr.ac.artTechManager.vo.NoticeVO" alias="notice"/>
		<typeAlias type="kr.ac.artTechManager.vo.PurchaseInfoVO" alias="purchase"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/writerInfo.xml"/>
		<mapper resource="mapper/artworkInfo.xml"/>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/notice.xml"/>
	</mappers>
</configuration>